---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me?key=b7e8f311390f35db3837001520104e45&token=86249946b2ac0c5477873274dcaec19155a5db5faa5bb559c1451b7b307e51fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1774.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '299'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '99'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '199'
      X-Server-Time:
      - '1567145348515'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c0-M76htHt+4tfnTeC0aKCFyfk3eZs"
    body:
      encoding: UTF-8
      string: '{"id":"5d68aa1338b6f82d9ee149e0","activityBlocked":false,"avatarHash":null,"avatarUrl":null,"bio":"","bioData":null,"confirmed":true,"fullName":"trl_app","idEnterprise":null,"idEnterprisesDeactivated":[],"idMemberReferrer":null,"idPremOrgsAdmin":[],"initials":"T","memberType":"normal","nonPublic":{},"nonPublicAvailable":false,"products":[],"url":"https://trello.com/trl_app","username":"trl_app","status":"disconnected","aaEmail":null,"aaId":null,"avatarSource":"none","email":"micah.hope.boyd@gmail.com","gravatarHash":"c2c1278ab6d0781d65c60c9df46d0d72","idBoards":["5d68aacc0b11040e22b842df","5d68b34a4026c5227690b656"],"idOrganizations":[],"idEnterprisesAdmin":[],"limits":{"boards":{"totalPerMember":{"status":"ok","disableAt":4500,"warnAt":4050}},"orgs":{"totalPerMember":{"status":"ok","disableAt":850,"warnAt":765}}},"loginTypes":["password"],"marketingOptIn":{"optedIn":true,"date":"2019-08-30T04:47:45.204Z"},"messagesDismissed":[{"_id":"5d68abf7e1d12a2e76e896da","name":"ad-subscribeOnComment","count":1,"lastDismissed":"2019-08-30T04:54:15.301Z"}],"oneTimeMessagesDismissed":["close-menu-of-first-board","board-background-prompt"],"prefs":{"privacy":{"fullName":"public","avatar":"public"},"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false,"locale":"en-US"},"trophies":[],"uploadedAvatarHash":null,"uploadedAvatarUrl":null,"premiumFeatures":[],"isAaMastered":false,"ixUpdate":"19","idBoardsPinned":null}'
  recorded_at: Fri, 30 Aug 2019 06:09:08 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/trl_app/boards?key=b7e8f311390f35db3837001520104e45&token=86249946b2ac0c5477873274dcaec19155a5db5faa5bb559c1451b7b307e51fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1774.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '298'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '98'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '198'
      X-Server-Time:
      - '1567145348883'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f3-aj6G3PjskZrUkK6owft5N0nRNXQ"
    body:
      encoding: UTF-8
      string: '[{"name":"Secret","desc":"","descData":null,"closed":false,"idOrganization":null,"limits":null,"pinned":null,"shortLink":"Gva6ny0W","powerUps":[],"dateLastActivity":null,"idTags":[],"datePluginDisable":null,"creationMethod":null,"ixUpdate":null,"id":"5d68b34a4026c5227690b656","starred":false,"url":"https://trello.com/b/Gva6ny0W/secret","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"purple","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#89609E","backgroundBottomColor":"#89609E","backgroundTopColor":"#89609E","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"subscribed":false,"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2019-08-30T05:25:50.905Z","shortUrl":"https://trello.com/b/Gva6ny0W","memberships":[{"id":"5d68b34a4026c5227690b657","idMember":"5d68aa1338b6f82d9ee149e0","memberType":"admin","unconfirmed":false,"deactivated":false}]},{"name":"Work","desc":"","descData":null,"closed":false,"idOrganization":null,"limits":null,"pinned":null,"shortLink":"sW0KktMF","powerUps":[],"dateLastActivity":"2019-08-30T06:02:17.796Z","idTags":[],"datePluginDisable":null,"creationMethod":"automatic","ixUpdate":null,"id":"5d68aacc0b11040e22b842df","starred":false,"url":"https://trello.com/b/sW0KktMF/work","prefs":{"permissionLevel":"private","hideVotes":false,"voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"isTemplate":false,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","backgroundBottomColor":"#0079BF","backgroundTopColor":"#0079BF","canBePublic":true,"canBeEnterprise":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"subscribed":false,"labelNames":{"green":"Easy","yellow":"Challenging","orange":"","red":"Hard","purple":"","blue":"","sky":"","lime":"","pink":"","black":""},"dateLastView":"2019-08-30T06:08:38.318Z","shortUrl":"https://trello.com/b/sW0KktMF","memberships":[{"id":"5d68aacc0b11040e22b842e3","idMember":"5d68aa1338b6f82d9ee149e0","memberType":"admin","unconfirmed":false,"deactivated":false}]}]'
  recorded_at: Fri, 30 Aug 2019 06:09:08 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5d68aacc0b11040e22b842df/lists?filter=open&key=b7e8f311390f35db3837001520104e45&token=86249946b2ac0c5477873274dcaec19155a5db5faa5bb559c1451b7b307e51fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1774.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '297'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '97'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '197'
      X-Server-Time:
      - '1567145349248'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bd-Pj43ALRoLI3ncDF8KUcPkrr4Hr8"
    body:
      encoding: UTF-8
      string: '[{"id":"5d68aacc0b11040e22b842e0","name":"New","closed":false,"idBoard":"5d68aacc0b11040e22b842df","pos":16384,"subscribed":false,"softLimit":null},{"id":"5d68aacc0b11040e22b842e1","name":"Doing","closed":false,"idBoard":"5d68aacc0b11040e22b842df","pos":32768,"subscribed":false,"softLimit":null},{"id":"5d68aacc0b11040e22b842e2","name":"Done","closed":false,"idBoard":"5d68aacc0b11040e22b842df","pos":49152,"subscribed":false,"softLimit":null}]'
  recorded_at: Fri, 30 Aug 2019 06:09:09 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/5d68aacc0b11040e22b842e0/cards?filter=open&key=b7e8f311390f35db3837001520104e45&token=86249946b2ac0c5477873274dcaec19155a5db5faa5bb559c1451b7b307e51fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - no-store
      X-Trello-Version:
      - 1.1774.1
      X-Trello-Environment:
      - Production
      X-Rate-Limit-Api-Key-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Key-Max:
      - '300'
      X-Rate-Limit-Api-Key-Remaining:
      - '296'
      X-Rate-Limit-Api-Token-Interval-Ms:
      - '10000'
      X-Rate-Limit-Api-Token-Max:
      - '100'
      X-Rate-Limit-Api-Token-Remaining:
      - '96'
      X-Rate-Limit-Member-Interval-Ms:
      - '10000'
      X-Rate-Limit-Member-Max:
      - '200'
      X-Rate-Limit-Member-Remaining:
      - '196'
      X-Server-Time:
      - '1567145349627'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5e-RBBGUo2k3KlC9F4idCW51Q7iYA0"
    body:
      encoding: UTF-8
      string: '[{"id":"5d68ab1bbfe0940d97f7255b","checkItemStates":null,"closed":false,"dateLastActivity":"2019-08-30T06:02:17.796Z","desc":"Test
        Card 9 description. Card instructions usually here.","descData":{"emoji":{}},"dueReminder":null,"idBoard":"5d68aacc0b11040e22b842df","idList":"5d68aacc0b11040e22b842e0","idMembersVoted":[],"idShort":9,"idAttachmentCover":null,"idLabels":["5d68af157bc1573408161239"],"manualCoverAttachment":false,"name":"Test
        Card 9","pos":32767.5,"shortLink":"8OvXAJ1Y","badges":{"attachmentsByType":{"trello":{"board":0,"card":0}},"location":false,"votes":0,"viewingMemberVoted":false,"subscribed":true,"fogbugz":"","checkItems":4,"checkItemsChecked":3,"comments":0,"attachments":0,"description":true,"due":null,"dueComplete":false},"dueComplete":false,"due":null,"idChecklists":["5d68b04c3b1a7c39640cff71"],"idMembers":["5d68aa1338b6f82d9ee149e0"],"labels":[{"id":"5d68af157bc1573408161239","idBoard":"5d68aacc0b11040e22b842df","name":"Easy","color":"green"}],"shortUrl":"https://trello.com/c/8OvXAJ1Y","subscribed":true,"url":"https://trello.com/c/8OvXAJ1Y/9-test-card-9"},{"id":"5d68ab18a0eb287219ac0597","checkItemStates":null,"closed":false,"dateLastActivity":"2019-08-30T05:14:37.343Z","desc":"Test
        Card 8 description. Card instructions usually here.","descData":{"emoji":{}},"dueReminder":null,"idBoard":"5d68aacc0b11040e22b842df","idList":"5d68aacc0b11040e22b842e0","idMembersVoted":[],"idShort":8,"idAttachmentCover":null,"idLabels":[[...]
